.episodes-block__cards
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  row-gap: 65px

.episodes-block__cards-item
  flex-basis: 30%
  transition: 0.4s
  &:hover
    background-color: rgba(0, 0, 0, 0.025)
    box-shadow: 1px 1px rgba(0, 0, 0, 0.045)
    border-radius: 20px
    padding: 10px

.episodes-block__head
  display: flex
  justify-content: space-between
  align-items: flex-end
  margin-bottom: 50px
  margin-top: 50px
  &-title
    font-weight: 400
    font-size: 35px
  &-viev
    color: #9224D6
    font-weight: 400
    font-size: 16px
    &:hover
      cursor: pointer
      color: darken(#9224D6, 20%)

.cards-item__title
  width: 377px
  display: flex
  grid-gap: 12px
  font-weight: 400
  font-size: 16px
  text-transform: uppercase
  align-items: center
  margin-top: 25px
  margin-bottom: 15px
  &-author
  &-cercl
    border-radius: 100%
    width: 4px
    height: 4px
    background-color: #000
  &-work

.cards-item
  &__card-name
    font-weight: 500
    width: 374px
    font-size: 20px
    margin-bottom: 10px
  &__card-content
    font-weight: 400
    font-size: 16px
    width: 377px
    margin-bottom: 20px

.cards-item
  transition: 0.5s
  &__footer
    display: flex
    justify-content: space-between
  &__footer-left
    display: flex
    grid-gap: 12px
    &:hover
      color: darken(#9224D6, 20%)
      cursor: pointer
  &__play-text
    font-weight: 500
    font-size: 16px
    color: #9224D6

  &__footer-right
    display: flex
    grid-gap: 7px
  &__time-text
    color: #000
    opacity: 0.6
    font-weight: 400
    font-size: 16px

.cards-item__img:hover
  cursor: pointer